@page
@model Figaro.Web.Pages.Auth.RegisterModel
@{
}

<h2>Register</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthUser.Firstname" class="control-label"></label>
                <input asp-for="AuthUser.Firstname" class="form-control" />
                <span asp-validation-for="AuthUser.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthUser.Lastname" class="control-label"></label>
                <input asp-for="AuthUser.Lastname" class="form-control" />
                <span asp-validation-for="AuthUser.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthUser.Username" class="control-label"></label>
                <input asp-for="AuthUser.Username" class="form-control" />
                <span asp-validation-for="AuthUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthUser.Password" class="control-label"></label>
                <input asp-for="AuthUser.Password" class="form-control" />
                <span asp-validation-for="AuthUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
