@page
@model Bakery.Web.Pages.Auth.AccessDeniedModel
@{
}

<div class="alert alert-warning">
    <h3 class="text-danger">Sie besitzen hierzu keine Berechtigung!</h3>
</div>

<a asp-page="/Index">Übersicht</a>