@page
@model IndexModel
@{
  ViewData["Title"] = "Figaro";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Figaro Auth</h1>
        <p class="lead">Lets you manage all your customers and their orders.</p>
    </div>
</div>
